<!DOCTYPE html>
<html>
{% include "adminhome/metatag.html" %}
{% include "adminhome/header.html" %}
{% include "adminhome/sidebar.html" %}
<body>
				               <!-- Pre Page Content -->
            <div id="pre-page-content">
                <h1><i class="glyphicon-nameplate_alt themed-color"></i> General Forms<br><small>All the elements you need!</small></h1>
            </div>
            <!-- END Pre Page Content -->

            <!-- Page Content -->
            <div id="page-content">
             <ul class="breadcrumb" data-spy="affix" data-offset-top="250">
                    <li>
                        <a href="index.html"><i class="glyphicon-display"></i></a> <span class="divider"><i class="icon-angle-right"></i></span>
                    </li>
                    <li>
                        <a href="#">Forms</a> <span class="divider"><i class="icon-angle-right"></i></span>
                    </li>
                    <li class="active"><a href="">General</a></li>
                </ul>
                <!-- END Breadcrumb -->

                <!-- General Forms Block -->
                <div class="block block-themed block-last">
                    <!-- General Forms Title -->
                    <div class="block-title">
                        <h4>Doctor DETAILS </h4>
                    </div>
                    <!-- END General Forms Title -->

                    <!-- General Forms Content -->
                    <div class="block-content">



<form name="formID"  method="post" action="/apment/doctordetailsform/" id="formID" >
  {% csrf_token %}
  <table width="405" border="0">
   
    <tr>
      <td width="131">Doctor name</td>
      <td width="94"><input name="dname" type="text" id="dname" class="validate[required]" required></td>
    </tr>
    <tr>
        <td width="131">Contact</td>
        <td width="94"><input name="cont" type="text" id="cont" class="validate[required]" required></td>
      </tr>
     
    <tr>
      <td>Doctor specilization </td>
      <td><select name="drspec" type="text" id="drspes"class="validate[required]" required>
        <option>select specilization details</option>>
        {% for i in spcl%}  
        <option value="{{i.id}}">{{i.sp_name}}</option>
        {%endfor%}
      </td>


    </tr>
    <tr>
      <td>doctor photo</td>
      <td><input name="photo" type="file" id="photo"class="validate[required]"required ></td>
    </tr>
    <tr>
      <td> Doctor Qualification</td>
      <td><input name="doctqual" type="text" id="doctqual"class="validate[required]" required></td>
    </tr>
    <tr>
      <td>Doctor experince</td>
      <td><input name="exp" type="text" id="exp"class="validate[required]" required></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="Submit" class="btn btn-success" value="Submit"></td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
  </table>
 
</form>
      </div>
                    <!-- END General Forms Content -->
                </div>
                <!-- END General Forms Block -->
            </div>
            <!-- END Page Content -->
			
            {% include "adminhome/val.html" %}
            {% include "adminhome/footer.html" %}
           
</body>
</html>