
{% include "adminhome/metatag.html" %}
{% include "adminhome/header.html" %}
{% include "adminhome/sidebar.html" %}
				               <!-- Pre Page Content -->
            <div id="pre-page-content">
                <h1><i class="glyphicon-nameplate_alt themed-color"></i> Wel Come To <br><small>DR {{ request.session.drid }}</small></h1>
            </div>
            <!-- END Pre Page Content -->

            <!-- Page Content -->
            <div id="page-content">
             
                <!-- END Breadcrumb -->

                <!-- General Forms Block -->
                <div class="block block-themed block-last">
                    <!-- General Forms Title -->
                    <div class="block-title">
                        <h4>Wel Come To DR Dashboard </h4>
                    </div>
                    <!-- END General Forms Title -->
                    
                    <!-- General Forms Content -->
                    <div class="block-content">
                        <img src="/static/adminhome/img/dr.jpeg">



  </div>
                    <!-- END General Forms Content -->
                </div>
                <!-- END General Forms Block -->
            </div>
            <!-- END Page Content -->
			
			

{% include "adminhome/footer.html" %}